<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								N8VqvJSrjjmV
								Zl/Clu/xoA==
								</data>
								<key>Size</key>
								<integer>3794</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6uFh+5hWAKIm
								T7LHPhU3JQ==
								</data>
								<key>Size</key>
								<integer>2907</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string>whats-new</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page10 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								TqqcAjbqFCDE
								UcXolH9WIw==
								</data>
								<key>Size</key>
								<integer>2564</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page10</string>
						<key>SiteRoot</key>
						<string>more-help</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page11 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								/51BM7qq6J8o
								zS5plG2prg==
								</data>
								<key>Size</key>
								<integer>5196</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page11</string>
						<key>SiteRoot</key>
						<string>using-argen/review</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page12 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								j0h+kvYSPlMW
								skmJRFMT8A==
								</data>
								<key>Size</key>
								<integer>3084</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page12</string>
						<key>SiteRoot</key>
						<string>using-argen/customize-template</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page13 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								sQtEsqYGj+2h
								GO613HyzJA==
								</data>
								<key>Size</key>
								<integer>5783</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page13</string>
						<key>SiteRoot</key>
						<string>using-activerecord</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page14 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								VMA6h1oaT0mi
								+jfEcBJibg==
								</data>
								<key>Size</key>
								<integer>3679</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page14</string>
						<key>SiteRoot</key>
						<string>using-activerecord/connecting</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page15 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								wLDyp8Cx5mZl
								K/V42dTYMQ==
								</data>
								<key>Size</key>
								<integer>3577</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page15</string>
						<key>SiteRoot</key>
						<string>using-activerecord/records</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page2 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								EaX+slzk7yTz
								+lEtRbolzQ==
								</data>
								<key>Size</key>
								<integer>3354</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>using-argen</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page3 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								4zXt8f8UuVG4
								pBSOilA/2Q==
								</data>
								<key>Size</key>
								<integer>2933</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page3</string>
						<key>SiteRoot</key>
						<string>projects</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page4 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								u4/mCcRKJFZE
								qWWBCJK+Lg==
								</data>
								<key>Size</key>
								<integer>2617</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page4</string>
						<key>SiteRoot</key>
						<string>projects/new</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page5 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lGBmBLf3nKHF
								u8batsp9Zg==
								</data>
								<key>Size</key>
								<integer>4170</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page5</string>
						<key>SiteRoot</key>
						<string>using-argen/project</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page6 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								hEJ8McN9tyWP
								IqdTL8DFcg==
								</data>
								<key>Size</key>
								<integer>3366</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page6</string>
						<key>SiteRoot</key>
						<string>using-argen/class-setup</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page7 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								UzpIEtdfvmYx
								jjz0d+thyg==
								</data>
								<key>Size</key>
								<integer>3987</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page7</string>
						<key>SiteRoot</key>
						<string>using-argen/class-setup/naming</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page8 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								1CjzgOUuFROk
								V4Ld0QLVnw==
								</data>
								<key>Size</key>
								<integer>4374</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page8</string>
						<key>SiteRoot</key>
						<string>using-argen/user-interface</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page9 - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								p7XWv2Ne+MED
								rdy7TpPw/A==
								</data>
								<key>Size</key>
								<integer>3414</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page9</string>
						<key>SiteRoot</key>
						<string>using-argen/relationships</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								faFLeaGqn2Gi
								jw+XIpD0IA==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:simplebusiness - file:///Users/tim/Desktop/Help/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-22T15:13:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								e5pnkQwQ57zl
								PMWRGU+JPw==
								</data>
								<key>Size</key>
								<integer>20234</integer>
							</dict>
							<key>images/button_normal.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lVKZUnDh+Z1X
								EGo2Qs5JQw==
								</data>
								<key>Size</key>
								<integer>307</integer>
							</dict>
							<key>images/button_over.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ADdllkCWgDQl
								gFclYXJgSA==
								</data>
								<key>Size</key>
								<integer>292</integer>
							</dict>
							<key>images/content_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cyUmpEYm3z3k
								SEXAIXVOiA==
								</data>
								<key>Size</key>
								<integer>87</integer>
							</dict>
							<key>images/sidebar_left_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cyUmpEYm3z3k
								SEXAIXVOiA==
								</data>
								<key>Size</key>
								<integer>87</integer>
							</dict>
							<key>images/sidebar_right_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								VFX///f4EV6m
								32xz3TXRRg==
								</data>
								<key>Size</key>
								<integer>87</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								iTaGLk0NKrMX
								hSvOZBMTyw==
								</data>
								<key>Size</key>
								<integer>10724</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:simplebusiness</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/simplebusiness</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict>
					<key>4D6098DF-0D36-48DB-BCAF-A0403C6644CA</key>
					<dict>
						<key>checksum</key>
						<data>
						OAZc+neMfaAh0iP+6GXz+A==
						</data>
						<key>checksumDate</key>
						<date>2020-10-06T20:13:48Z</date>
						<key>documentScopedBookmark</key>
						<data>
						Ym9va3gDAAAAAAQQMAAAAA6MjYlU
						Qsx68MeylLRKbF+RiHgCQkBZadxp
						OpKuXCNoUAIAAAQAAAADAwAAAAgA
						KAUAAAABAQAAVXNlcnMAAAADAAAA
						AQEAAHRpbQAEAAAAAQEAAEFwcHMF
						AAAAAQEAAEFSR2VuAAAADQAAAAEB
						AABEb2N1bWVudGF0aW9uAAAACwAA
						AAEBAABTY3JlZW5zaG90cwASAAAA
						AQEAAFByb2plY3QgV2luZG93LnBu
						ZwAAHAAAAAEGAAAQAAAAIAAAACwA
						AAA4AAAASAAAAGAAAAB0AAAACAAA
						AAQDAAC8MAYAAAAAAAgAAAAEAwAA
						iZEJAAAAAAAIAAAABAMAABaXCQAA
						AAAACAAAAAQDAABmqcACAwAAAAgA
						AAAEAwAARTS8AgMAAAAIAAAABAMA
						AKY0vAIDAAAACAAAAAQDAACawyID
						AwAAABwAAAABBgAAtAAAAMQAAADU
						AAAA5AAAAPQAAAAEAQAAFAEAAAgA
						AAAABAAAQcKWg74Q+aAYAAAAAQIA
						AAEAAAAAAAAADwAAAAAAAAAAAAAA
						AAAAAAAAAAABBQAABAAAAAMDAAAB
						AAAABAAAAAMDAAACAAAACAAAAAQD
						AAAFAAAAAAAAAAQAAAADAwAA9QEA
						AAgAAAABCQAAZmlsZTovLy8MAAAA
						AQEAAE1hY2ludG9zaCBIRAgAAAAE
						AwAAABBEWO4AAAAIAAAAAAQAAEG8
						2zCWAAAAJAAAAAEBAAAzREMxNkM4
						RS02NzdGLTNGQjItQkQ2NS05RTE2
						MDJGMTcyRDUYAAAAAQIAAIEAAAAB
						AAAA7xMAAAEAAAAAAAAAAAAAAAEA
						AAABAQAALwAAAPAAAAD+////AQAA
						AAAAAAATAAAABBAAAJAAAAAAAAAA
						BRAAACQBAAAAAAAAEBAAAFgBAAAA
						AAAAQBAAAEgBAAAAAAAAVBAAAIAB
						AAAAAAAAVRAAAIwBAAAAAAAAVhAA
						AHgBAAAAAAAAAiAAAEQCAAAAAAAA
						BSAAALQBAAAAAAAAECAAAMQBAAAA
						AAAAESAAAPgBAAAAAAAAEiAAANgB
						AAAAAAAAEyAAAOgBAAAAAAAAICAA
						ACQCAAAAAAAAMCAAAHgBAAAAAAAA
						AcAAAJgBAAAAAAAAEcAAACAAAAAA
						AAAAEsAAAKgBAAAAAAAAENAAAAQA
						AAAAAAAA
						</data>
						<key>fallbackAppScopedBookmark</key>
						<data>
						Ym9vazwDAAAAAAQQMAAAAH8RTQJ/
						q4+3ld2Z3z4ehUWMHHc+YEUhQAus
						DfDI0Y/ZOAIAAAQAAAADAwAAAAgA
						KAUAAAABAQAAVXNlcnMAAAADAAAA
						AQEAAHRpbQAEAAAAAQEAAEFwcHMF
						AAAAAQEAAEFSR2VuAAAADQAAAAEB
						AABEb2N1bWVudGF0aW9uAAAACwAA
						AAEBAABTY3JlZW5zaG90cwASAAAA
						AQEAAFByb2plY3QgV2luZG93LnBu
						ZwAAHAAAAAEGAAAQAAAAIAAAACwA
						AAA4AAAASAAAAGAAAAB0AAAACAAA
						AAQDAAC8MAYAAAAAAAgAAAAEAwAA
						iZEJAAAAAAAIAAAABAMAABaXCQAA
						AAAACAAAAAQDAABmqcACAwAAAAgA
						AAAEAwAARTS8AgMAAAAIAAAABAMA
						AKY0vAIDAAAACAAAAAQDAACawyID
						AwAAABwAAAABBgAAtAAAAMQAAADU
						AAAA5AAAAPQAAAAEAQAAFAEAAAgA
						AAAABAAAQcKWg74Q+aAYAAAAAQIA
						AAEAAAAAAAAADwAAAAAAAAAAAAAA
						AAAAAAgAAAAEAwAABQAAAAAAAAAE
						AAAAAwMAAPUBAAAIAAAAAQkAAGZp
						bGU6Ly8vDAAAAAEBAABNYWNpbnRv
						c2ggSEQIAAAABAMAAAAQRFjuAAAA
						CAAAAAAEAABBvNswlgAAACQAAAAB
						AQAAM0RDMTZDOEUtNjc3Ri0zRkIy
						LUJENjUtOUUxNjAyRjE3MkQ1GAAA
						AAECAACBAAAAAQAAAO8TAAABAAAA
						AAAAAAAAAAABAAAAAQEAAC8AAAAA
						AAAAAQUAAMwAAAD+////AQAAAAAA
						AAAQAAAABBAAAJAAAAAAAAAABRAA
						ACQBAAAAAAAAEBAAAFgBAAAAAAAA
						QBAAAEgBAAAAAAAAAiAAACQCAAAA
						AAAABSAAAJQBAAAAAAAAECAAAKQB
						AAAAAAAAESAAANgBAAAAAAAAEiAA
						ALgBAAAAAAAAEyAAAMgBAAAAAAAA
						ICAAAAQCAAAAAAAAMCAAADACAAAA
						AAAAAcAAAHgBAAAAAAAAEcAAACAA
						AAAAAAAAEsAAAIgBAAAAAAAAENAA
						AAQAAAAAAAAA
						</data>
						<key>identifier</key>
						<string>4D6098DF-0D36-48DB-BCAF-A0403C6644CA</string>
						<key>lastResolvablePath</key>
						<string>/Users/tim/Apps/ARGen/Documentation/Screenshots/Project Window.png</string>
						<key>storedInsideDocument</key>
						<false/>
						<key>volumeName</key>
						<string>Macintosh HD</string>
						<key>volumePath</key>
						<string>/</string>
					</dict>
					<key>6C0D6711-02F5-42B4-949E-7F4F641272BB</key>
					<dict>
						<key>checksum</key>
						<data>
						2QqENCeQEN0J16RPRSE48w==
						</data>
						<key>checksumDate</key>
						<date>2020-06-17T16:56:37Z</date>
						<key>documentScopedBookmark</key>
						<data>
						Ym9va3QDAAAAAAQQMAAAAIc9vei/
						GgST1Y+BCVC+6n0BIv4RuRPnZ0FJ
						3XqHWLJCTAIAAAQAAAADAwAAAAgA
						KAUAAAABAQAAVXNlcnMAAAADAAAA
						AQEAAHRpbQAEAAAAAQEAAEFwcHMF
						AAAAAQEAAEFSR2VuAAAADQAAAAEB
						AABEb2N1bWVudGF0aW9uAAAACwAA
						AAEBAABTY3JlZW5zaG90cwAPAAAA
						AQEAAENvbm5lY3Rpb25zLnBuZwAc
						AAAAAQYAABAAAAAgAAAALAAAADgA
						AABIAAAAYAAAAHQAAAAIAAAABAMA
						ALwwBgAAAAAACAAAAAQDAACJkQkA
						AAAAAAgAAAAEAwAAFpcJAAAAAAAI
						AAAABAMAAGapwAIDAAAACAAAAAQD
						AABFNLwCAwAAAAgAAAAEAwAApjS8
						AgMAAAAIAAAABAMAAKBS3gIDAAAA
						HAAAAAEGAACwAAAAwAAAANAAAADg
						AAAA8AAAAAABAAAQAQAACAAAAAAE
						AABBwk1BYta6QxgAAAABAgAAAQAA
						AAAAAAAPAAAAAAAAAAAAAAAAAAAA
						AAAAAAEFAAAEAAAAAwMAAAEAAAAE
						AAAAAwMAAAIAAAAIAAAABAMAAAUA
						AAAAAAAABAAAAAMDAAD1AQAACAAA
						AAEJAABmaWxlOi8vLwwAAAABAQAA
						TWFjaW50b3NoIEhECAAAAAQDAAAA
						EERY7gAAAAgAAAAABAAAQbzbMJYA
						AAAkAAAAAQEAADNEQzE2QzhFLTY3
						N0YtM0ZCMi1CRDY1LTlFMTYwMkYx
						NzJENRgAAAABAgAAgQAAAAEAAADv
						EwAAAQAAAAAAAAAAAAAAAQAAAAEB
						AAAvAAAA8AAAAP7///8BAAAAAAAA
						ABMAAAAEEAAAjAAAAAAAAAAFEAAA
						IAEAAAAAAAAQEAAAVAEAAAAAAABA
						EAAARAEAAAAAAABUEAAAfAEAAAAA
						AABVEAAAiAEAAAAAAABWEAAAdAEA
						AAAAAAACIAAAQAIAAAAAAAAFIAAA
						sAEAAAAAAAAQIAAAwAEAAAAAAAAR
						IAAA9AEAAAAAAAASIAAA1AEAAAAA
						AAATIAAA5AEAAAAAAAAgIAAAIAIA
						AAAAAAAwIAAAdAEAAAAAAAABwAAA
						lAEAAAAAAAARwAAAIAAAAAAAAAAS
						wAAApAEAAAAAAAAQ0AAABAAAAAAA
						AAA=
						</data>
						<key>fallbackAppScopedBookmark</key>
						<data>
						Ym9vazgDAAAAAAQQMAAAAFqLgh7N
						/EOAyBGVxer0r/hFh4Jc5uch72F+
						WaUqtubHNAIAAAQAAAADAwAAAAgA
						KAUAAAABAQAAVXNlcnMAAAADAAAA
						AQEAAHRpbQAEAAAAAQEAAEFwcHMF
						AAAAAQEAAEFSR2VuAAAADQAAAAEB
						AABEb2N1bWVudGF0aW9uAAAACwAA
						AAEBAABTY3JlZW5zaG90cwAPAAAA
						AQEAAENvbm5lY3Rpb25zLnBuZwAc
						AAAAAQYAABAAAAAgAAAALAAAADgA
						AABIAAAAYAAAAHQAAAAIAAAABAMA
						ALwwBgAAAAAACAAAAAQDAACJkQkA
						AAAAAAgAAAAEAwAAFpcJAAAAAAAI
						AAAABAMAAGapwAIDAAAACAAAAAQD
						AABFNLwCAwAAAAgAAAAEAwAApjS8
						AgMAAAAIAAAABAMAAKBS3gIDAAAA
						HAAAAAEGAACwAAAAwAAAANAAAADg
						AAAA8AAAAAABAAAQAQAACAAAAAAE
						AABBwk1BYta6QxgAAAABAgAAAQAA
						AAAAAAAPAAAAAAAAAAAAAAAAAAAA
						CAAAAAQDAAAFAAAAAAAAAAQAAAAD
						AwAA9QEAAAgAAAABCQAAZmlsZTov
						Ly8MAAAAAQEAAE1hY2ludG9zaCBI
						RAgAAAAEAwAAABBEWO4AAAAIAAAA
						AAQAAEG82zCWAAAAJAAAAAEBAAAz
						REMxNkM4RS02NzdGLTNGQjItQkQ2
						NS05RTE2MDJGMTcyRDUYAAAAAQIA
						AIEAAAABAAAA7xMAAAEAAAAAAAAA
						AAAAAAEAAAABAQAALwAAAAAAAAAB
						BQAAzAAAAP7///8BAAAAAAAAABAA
						AAAEEAAAjAAAAAAAAAAFEAAAIAEA
						AAAAAAAQEAAAVAEAAAAAAABAEAAA
						RAEAAAAAAAACIAAAIAIAAAAAAAAF
						IAAAkAEAAAAAAAAQIAAAoAEAAAAA
						AAARIAAA1AEAAAAAAAASIAAAtAEA
						AAAAAAATIAAAxAEAAAAAAAAgIAAA
						AAIAAAAAAAAwIAAALAIAAAAAAAAB
						wAAAdAEAAAAAAAARwAAAIAAAAAAA
						AAASwAAAhAEAAAAAAAAQ0AAABAAA
						AAAAAAA=
						</data>
						<key>identifier</key>
						<string>6C0D6711-02F5-42B4-949E-7F4F641272BB</string>
						<key>lastResolvablePath</key>
						<string>/Users/tim/Apps/ARGen/Documentation/Screenshots/Connections.png</string>
						<key>storedInsideDocument</key>
						<false/>
						<key>volumeName</key>
						<string>Macintosh HD</string>
						<key>volumePath</key>
						<string>/</string>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGcnNYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QGwcIERIcHR4h
				KC1AQUJDR0pOUlZhYmNkZ2tscFUkbnVsbNMJCgsMDhBX
				TlMua2V5c1pOUy5vYmplY3RzViRjbGFzc6ENgAKhD4AD
				gBpUbm9kZdUTFBUWCxcYGRobVE5hbWVVaXRlbXNaaWRl
				bnRpZmllclhjaGlsZHJlboAFgAiABIAGgBlfECRBRkZD
				Q0FBRi00NDNBLTRFOUEtOTgzMC1BNTc5QUY1QjhENEVf
				EA9VbnRpdGxlZCBGb2xkZXLSCgsfIKCAB9IiIyQlWiRj
				bGFzc25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmj
				JCYnV05TQXJyYXlYTlNPYmplY3TSCgspIKIqK4AJgBKA
				B9ouLwswMTITMzQ1Njc4Nzc7PD0+P15SZW1vdGVSZXNv
				dXJjZVtPcmlnaW5hbFVSTFxQdWJsaXNoZWRVUkxdUHVi
				bGlzaGVkRGF0ZV8QD0NoYW5nZWRTdGF0dXNlc1pJZGVu
				dGlmaWVyWVRpbWVTdGFtcFlGaWxlVG9rZW4IgACAEYAA
				gACAD4ALgAqADYAMXxAkQjFFRUNCNDktMzFDNS00NzVB
				LUE3NjgtMUY0NzlDMTMzMDJGXxASUHJvamVjdCBXaW5k
				b3cucG5nXxAkNEQ2MDk4REYtMEQzNi00OERCLUJDQUYt
				QTA0MDNDNjY0NENB0kQLRUZXTlMudGltZSNBwpaDvl6D
				PYAO0iIjSElWTlNEYXRlokgn0wkKC0tMTaCggBDSIiNP
				UF8QE05TTXV0YWJsZURpY3Rpb25hcnmjT1EnXE5TRGlj
				dGlvbmFyedIiI1NUXlJXU2l0ZVJlc291cmNlolUnXlJX
				U2l0ZVJlc291cmNl2i4vCzAxMhMzNDU2WDg3N1xdXl9g
				CIAYgBGAAIAAgBeAFIATgBaAFV8QJEZFNTdCMkQyLTI5
				NzUtNDRDRi04QzIyLTUzODA3RDc2Njc2NV8QD0Nvbm5l
				Y3Rpb25zLnBuZ18QJDZDMEQ2NzExLTAyRjUtNDJCNC05
				NDlFLTdGNEY2NDEyNzJCQtJEC2VGI0HCWH3NkN1hgA7T
				CQoLaGlNoKCAEF8QPy9Vc2Vycy90aW0vQXBwcy9BUkdl
				bi9Eb2N1bWVudGF0aW9uL1NjcmVlbnNob3RzL0Nvbm5l
				Y3Rpb25zLnBuZ9IiI21uXFJXU2l0ZUZvbGRlcqJvJ1xS
				V1NpdGVGb2xkZXLSIiNRcaJRJ18QD05TS2V5ZWRBcmNo
				aXZlctF0dVRyb290gAEACAARABoAIwAtADIANwBVAFsA
				YgBqAHUAfAB+AIAAggCEAIYAiwCWAJsAoQCsALUAtwC5
				ALsAvQC/AOYA+AD9AP4BAAEFARABGQEoASwBNAE9AUIB
				RQFHAUkBSwFgAW8BewGIAZYBqAGzAb0BxwHIAcoBzAHO
				AdAB0gHUAdYB2AHaAgECFgI9AkICSgJTAlUCWgJhAmQC
				awJsAm0CbwJ0AooCjgKbAqACrwKyAsEC1gLXAtkC2wLd
				At8C4QLjAuUC5wLpAxADIgNJA04DVwNZA2ADYQNiA2QD
				pgOrA7gDuwPIA80D0APiA+UD6gAAAAAAAAIBAAAAAAAA
				AHYAAAAAAAAAAAAAAAAAAAPs
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<false/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BaseURL</key>
					<string>https://strawberrysw.com/argen/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2018 - 2020 Tim Parnell</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.php</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy
					0QoLVHJvb3SAAAgRGiMtMjc5P1FUWQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>hasPublishedContent</key>
							<false/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Untitled Destination</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<true/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Simple Business</string>
					<key>TitleText</key>
					<string>ARGen Help</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>68645BC6-DE12-41E7-B2C6-799D72EAE3D6_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<false/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string>/* Set max width for smaller reading viewport */
#container {
	max-width: 600px;
}

#contentContainer #content {
	padding-top: 0;
}

/* Table Styling */
table {
}

th {
	background-color: #fff;
}

tr:nth-child(odd) {
	background-color: #dadada;
}

td, th {
	padding: 5px;
}

/* Code */
code {
	background-color: #e4e4e4;
	font-family: monospace, monospace;
}

pre code {
	display: block;
	padding: 6px 8px;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	body {
		background: rgb(24, 26, 27);
		color: rgba(100%, 100%, 100%, 87%);
	}
	
	#pageHeader h1 {
		color: #c4bbf0;
	}

	a, a:visited {
		color: #927fbf!important;
	}
	
	a:hover {
		color: #ffa000!important;
	}
	
	code {
		background-color: #333;
	}
	
	#navcontainer a {
		background: #333;
		border-bottom-color: #666!important;
		color: #c4bbf0!important;
		text-shadow:none!important;
	}
	
	#navcontainer a:hover {
		background: #444;
	}
	
	#current, .currentAncestor {
		background: #555!important;
	}
	
	th {
		background-color: rgb(24, 26, 27);
	}
	
	tr:nth-child(odd) {
		background-color: #353535;
	}

}
</string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGHh9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKUHCA0TGlUkbnVsbNIJCgsMWmRpY3Rpb25h
					cnlWJGNsYXNzgAKABNMODwoQERJXTlMua2V5
					c1pOUy5vYmplY3RzoKCAA9IUFRYXWiRjbGFz
					c25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVE
					aWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlY
					TlNPYmplY3TSFBUbHF5XZWJJY29uUGFja2Fn
					ZaIdGV5XZWJJY29uUGFja2FnZV8QD05TS2V5
					ZWRBcmNoaXZlctEgIVRyb290gAEACAARABoA
					IwAtADIANwA9AEMASABTAFoAXABeAGUAbQB4
					AHkAegB8AIEAjACVAKsArwC8AMUAygDZANwA
					6wD9AQABBQAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<false/>
					<key>useSocialTags</key>
					<false/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
